<ngx-spinner></ngx-spinner>

<h4 class="font-weight-bold mb-5 text-uppercase">ADVERTISEMENT</h4>

<div class="input-group mb-3 searchbar-input">
  <input type="text" class="form-control border-0 search-bar shadow-sm" placeholder="Search here"
    aria-label="Search job details" aria-describedby="basic-addon2" [(ngModel)]="adsDetailsFilter"
    [ngModelOptions]="{ standalone: true }">
    <div class="input-group-append">
      <button class="btn btn-info" type="button" (click)="search()">Search</button>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline" type="button" (click)="getAdvertisement('start'); adsDetailsFilter=null"><i class="fas fa-undo-alt"></i></button>
    </div>
</div>

<div class="card border-0 mt-4">
  <div class="card-body">
    <div class="table-reponsive">
      <table class="table table-hover">
        <thead class="text-uppercase">
          <tr>
            <th>Title</th>
            <th>Field</th>
            <th>Address</th>
            <th>Created On</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ads of adsList" (click)="viewAdsDetails(ads.id)"
            class="table-content">            
              <td>{{ ads.title }}</td>
              <td>{{ ads.job_type_title }}</td>
              <td>{{ ads.address }}</td>
              <td>{{ ads.created_at| date: 'short' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <button class="btn btn btn-info btn-sm float-left" (click)="getAdvertisement('prev')"
              [disabled]="disablePrev">Previous</button> <b>Page no: {{ currentPage }}</b>
      <button class="btn btn btn-info btn-sm float-right" (click)="getAdvertisement('next')" [disabled]="disableNext">Next</button>
    </div>
  </div>
</div>
