<ngx-spinner></ngx-spinner>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="Javascript:void(0)" (click)="goBack()">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ viewUserModal.full_name | titlecase }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col text-right">
    <button class="btn custom-btn mr-2" data-toggle="modal" data-target="#editUserDetailsModal" data-placement="bottom" title="Edit User">
      <i class="fas fa-pen"></i>
    </button>
    <button class="btn btn-danger mr-2 text-white" (click)="banUser()" data-toggle="tooltip" data-placement="bottom" title="Ban User" *ngIf="viewUserModal.status">
      <i class="fas fa-ban"></i>
    </button>
    <button class="btn btn-warning mr-2 text-white" (click)="unbanUser()" data-toggle="tooltip" data-placement="bottom" title="Unban User" *ngIf="!viewUserModal.status">
      <i class="fas fa-ban"></i>
    </button>
  </div>
</div>


<!-- User Details -->
<div class="card border-0 mt-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <img [attr.src]="viewUserModal.profile_image_url" [alt]=""
          class="img-fluid shadow-sm rounded-circle d-block mx-auto">
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 pl-3">
        <h3 class="name-gender">
          {{ viewUserModal.full_name | titlecase }}
          <i class="fas fa-mars text-primary ml-3" *ngIf="viewUserModal.gender === 'Male'"></i>
          <i class="fas fa-venus ml-3" *ngIf="viewUserModal.gender === 'Female'"></i>          
        </h3>
        <p *ngIf="isAdmin" class="ml-2" style="color:rgb(19, 168, 158);">{{ viewUserModal.role | titlecase }}</p>
        <p class="mt-3">
          <i class="fas fa-mobile-alt mr-2"></i>
          {{ viewUserModal.contact_no }}
        </p>
        <p class="email-address">
          <i class="fas fa-envelope-open mr-2"></i>
          {{ viewUserModal.email | lowercase }}
        </p>
        <table class="table table-borderless mt-4">
          <tbody>
            <tr>
              <td scope="row" class="px-0 text-muted">NRIC / Passport</td>
              <td>{{ viewUserModal.nric }}</td>
            </tr>
            <tr>
              <td scope="row" class="px-0 pt-0 text-muted">Location</td>
              <td class="pt-0">{{ viewUserModal.city | titlecase }}, {{ viewUserModal.state | titlecase }}</td>
            </tr>
            <tr>
              <td scope="row" class="px-0 pt-0 text-muted">Expertise In</td>
              <td class="pt-0">{{ viewUserModal.expertise_list }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Bank Details -->
<div *ngIf="showBank" class="card border-0 mt-3">
  <div class="card-body">
    <h5 class="card-title">Bank Details</h5>
    <table class="table table-borderless mt-4">
      <tbody>
        <tr>
          <td scope="row" class="px-0 text-muted">Bank Name</td>
          <td>{{ viewUserModal.bank.bank_name }}</td>
        </tr>
        <tr>
          <td scope="row" class="px-0 text-muted">Account Number</td>
          <td class="">{{ viewUserModal.bank.bank_acc }}</td>
        </tr>
        <tr>
          <td scope="row" class="px-0 text-muted">Beneficiary Name</td>
          <td class="">{{ viewUserModal.bank.beneficiary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- !Bank Details -->


<!-- Company Details -->
<div class="card border-0 mt-3" *ngIf="userCompany">
  <div class="card-body">
    <h5 class="card-title">Company Details</h5>
    <div *ngFor="let comp of userCompany">
      <table class="table table-borderless mt-4">
        <thead>
          <tr>
            <th><h4>{{ comp.company_name }} <button class="btn custom-btn ml-3" (click)="openCompanyModal(comp)">
              <i class="fas fa-pen"></i>
            </button> <button class="btn btn-danger ml-3" (click)="removeCompany(comp.id)">
              <i class="fas fa-ban"></i>
            </button></h4></th>
            <td class="text-right">
              <a href='javascript:void(0)' (click)="openModal(comp.comp_overview)" title="View Overview">
                View Overview >>>
              </a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" class="px-0 text-muted">Company No.</td>
            <td>{{ comp.company_no }}</td>
          </tr>
          <tr>
            <td scope="row" class="px-0 text-muted">Company Contact Number</td>
            <td>{{ comp.tel_no }}</td>
          </tr>
          <tr>
            <td scope="row" class="px-0 text-muted">Address</td>
            <td>{{ comp.address }}, {{ comp.postcode }} {{ comp.city | titlecase }}, {{ comp.state | titlecase }}, {{ comp.country }}</td>
          </tr>
          <tr>
            <td scope="row" class="px-0 text-muted">Main Business</td>
            <td>{{ comp.business_title }}</td>
          </tr>
          <tr>
            <td scope="row" class="px-0 text-muted">Company Size</td>
            <td>{{ comp.comp_size }} person(s)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- !Company Details -->

<!-- Company Overview -->
<div class="modal fade" id="CompanyOverviewModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div name="companyModalHeader" class="modal-header border-0 text-white">
        <h5 class="modal-title" id="companyOverviewLabel">
          Company Overview
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div [innerHTML]="compOverview | noSanitize"></div> 
      </div>
    </div>
  </div>
</div>
<!-- !Company Overview -->

<!-- Comments -->
<ng-container *ngIf="totalComments > 0">
  <div class="card border-0 mt-3">
    <div class="card-body">
      <h5 class="card-title">Comments</h5>
      <div class="row mt-4" *ngFor="let comment of comments">
        <div class="col-10">
          <p class="text-muted comment-created-by">
            {{ comment.created_by_name }}
            <span class="star-rating">
              <star-rating [value]="1" totalstars="5" checkedcolor="yellow" uncheckedcolor="transparent"
                size="20px" readonly="true"></star-rating>
            </span>
          </p>
          <p class="comment-message">{{ comment.message }}</p>
          <p class="mt-4 text-muted comment-created-date">{{ comment.created_date | date:'short' }}</p>
        </div>
        <div class="col-2 text-right">
          <button class="btn" (click)="deleteComment(comment)">
            <i class="fas fa-trash-alt delete-comment-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- !Comments -->


<!-- Edit User Details Model -->
<div *ngIf="editUserModal" class="modal fade" id="editUserDetailsModal" tabindex="-1" role="dialog"
  aria-labelledby="editUserDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="editUsersForm" (ngSubmit)="editUsers.form.valid && saveUserDetails()" #editUsers="ngForm" novalidate>
        <div name="userModalHeader" class="modal-header border-0 text-white">
          <h5 class="modal-title" id="editUserDetailsModalLabel">
            Edit User Details
            <i class="fas fa-edit ml-2 text-white text-center"></i>
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-2">
          <span class="text-center d-block mt-4">
            <img name="propic" [attr.src]="viewImage" class="img-fluid mx-auto d-block"
              alt="User Profile Image">
          </span>

          <div class="form-group mt-5">
            <label for="" class="font-weight-bold">Upload New Profile Picture</label>
            <input type="file" #profileImageInput class="form-control-file"
                   (change)="profileImagePreview($event)" />
          </div>

          <div class="form-group mt-4">
            <label for="" class="font-weight-bold">Full Name</label>
            <input type="text" class="form-control" name="editUserFullName" [(ngModel)]="editUserModal.full_name" />
          </div>

          <div class="form-group mt-4">
            <label for="" class="font-weight-bold">Gender</label>
            <input type="text" class="form-control" name="editUserGender" readonly [(ngModel)]="editUserModal.gender">
          </div>

          <div class="form-group mt-4">
            <label for="" class="font-weight-bold">NRIC</label>
            <input type="text" class="form-control" name="editUserNRIC" [(ngModel)]="editUserModal.nric">
          </div>

          <div class="form-group mt-4">
            <label for="" class="font-weight-bold">State</label>
            <select class="form-control" name="editUserState" [(ngModel)]="editUserModal.state">
              <ng-container *ngFor="let item of stateCityList; let i = index">
                <ng-container *ngIf="i > 0">
                  <option *ngIf="item.admin !== '' && item.admin !== stateCityList[i-1].admin">
                    {{ item.admin.toUpperCase() }}</option>
                </ng-container>
              </ng-container>
            </select>
          </div>

          <div class="form-group mt-4">
            <label for="" class="font-weight-bold">City</label>
            <select class="form-control" name="editUserCity" [(ngModel)]="editUserModal.city">
              <ng-container *ngFor="let item of stateCityList">
                <option *ngIf="item.admin.toUpperCase() === upperCheck(editUserModal)">{{ item.city.toUpperCase() }}</option>
              </ng-container>
            </select>
          </div>

          <div *ngIf="editUserModal.bank" class="form-group mt-4">
            <label for="" class="font-weight-bold">Bank Name</label>
            <select class="form-control" name="editUserBankName" [(ngModel)]="editUserModal.bank.bank_name">
              <option *ngFor="let item of banksList">{{ item.name }}</option>
            </select>
          </div>

          <div *ngIf="editUserModal.bank" class="form-group mt-4">
            <label for="" class="font-weight-bold">Bank Account Number</label>
            <input type="text" class="form-control" name="editUserBankAccountNumber"
              [(ngModel)]="editUserModal.bank.bank_acc" />
          </div>

          <div *ngIf="editUserModal.bank" class="form-group mt-4">
            <label for="" class="font-weight-bold">Beneficiary Name</label>
            <input type="text" class="form-control" name="editUserBeneficiaryName"
              [(ngModel)]="editUserModal.bank.beneficiary"/>
          </div>

          <div class="form-group mt-4">
            <label for="" class="font-weight-bold">Expertise In</label>
            <div class="form-check" *ngFor="let item of expertiseList">
              <label class="form-check-label">
                <input type="checkbox" name="expertise" class="form-check-input" [checked]="item.checked" (change)="item.checked = !item.checked" [value]="item.value">{{ item.display }}
              </label>
            </div>
          </div>

          <!-- <ng-container *ngIf="viewUserModal.company">
            <hr class="mt-4">

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Company No</label>
              <input type="text" class="form-control" name="editUserCompanyNo"
                     [(ngModel)]="editCompanyModal.company_no" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Company Name</label>
              <input type="text" class="form-control" name="editUserCompanyName"
                     [(ngModel)]="editCompanyModal.company_name" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Main Business</label>
              <select class="form-control" name="editUserCompanyMainBusiness" [(ngModel)]="editCompanyModal.main_business">
                <option *ngFor="let item of expertiseList" value="{{ item.value }}">{{ item.display }}</option>
              </select>
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Contact Number</label>
              <input type="text" class="form-control" name="editUserCompanyTelNo"
                     [(ngModel)]="editCompanyModal.tel_no" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Address</label>
              <input type="text" class="form-control" name="editUserCompanyAddress"
                     [(ngModel)]="editCompanyModal.address" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Postcode</label>
              <input type="text" class="form-control" name="editUserCompanyPostcode"
                     [(ngModel)]="editCompanyModal.postcode" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">State</label>
              <select class="form-control" name="editUserCompanyState" [(ngModel)]="editCompanyModal.state">
                <ng-container *ngFor="let item of stateCityList; let i = index">
                  <ng-container *ngIf="i > 0">
                    <option *ngIf="item.admin !== '' && item.admin !== stateCityList[i-1].admin">
                      {{ item.admin.toUpperCase() }}</option>
                  </ng-container>
                </ng-container>
              </select>
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">City</label>
              <select class="form-control" name="editUserCompanyCity" [(ngModel)]="editCompanyModal.city">
                <ng-container *ngFor="let item of stateCityList">
                  <option *ngIf="item.admin.toUpperCase() === upperCheck(editCompanyModal)">{{ item.city.toUpperCase() }}</option>
                </ng-container>
              </select>
            </div>
          </ng-container> -->

          <div *ngIf="isAdmin" class="form-group mt-4">
            <label for="" class="font-weight-bold">Role</label>
            <select class="form-control" name="editUserCompanyCity" [(ngModel)]="editUserModal.role" >
              <option value="USER">User</option>
              <option value="ADMIN">Admin</option>
              <option value="ACCOUNTANT">Accountant</option>
            </select>
          </div>

        </div>
        <div class="modal-footer border-0">
          <button class="btn custom-btn px-3" type="submit">
            Submit<i class="fas fa-save pl-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- !Edit User Details Model -->

<!-- Edit Company Details Model -->
<div *ngIf="editCompanyModal" class="modal fade" id="editCompanyDetailsModal" tabindex="-1" role="dialog"
  aria-labelledby="editCompanyDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="editCompanyForm" (ngSubmit)="editCompany.form.valid && saveCompanyDetails()" #editCompany="ngForm" novalidate>
        <div name="compModalHeader" class="modal-header border-0 text-white">
          <h5 class="modal-title" id="editCompanyDetailsModalLabel">
            Edit Company Details
            <i class="fas fa-edit ml-2 text-white text-center"></i>
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-2">
          <ng-container *ngIf="editCompanyModal">
            <div class="form-group">
              <label for="" class="font-weight-bold">Company No</label>
              <input type="text" class="form-control" name="editUserCompanyNo"
                     [(ngModel)]="editCompanyModal.company_no" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Company Name</label>
              <input type="text" class="form-control" name="editUserCompanyName"
                     [(ngModel)]="editCompanyModal.company_name" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Main Business</label>
              <select class="form-control" name="editUserCompanyMainBusiness" [(ngModel)]="editCompanyModal.main_business">
                <option *ngFor="let item of expertiseList" value="{{ item.value }}">{{ item.display }}</option>
              </select>
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Contact Number</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">+60</span>
                </div>
                <input type="text" class="form-control" name="editUserCompanyTelNo"
                     [(ngModel)]="editCompanyModal.tel_no" />
              </div>
              
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Address</label>
              <input type="text" class="form-control" name="editUserCompanyAddress"
                     [(ngModel)]="editCompanyModal.address" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Postcode</label>
              <input type="text" class="form-control" name="editUserCompanyPostcode"
                     [(ngModel)]="editCompanyModal.postcode" />
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">State</label>
              <select class="form-control" name="editUserCompanyState" [(ngModel)]="editCompanyModal.state">
                <ng-container *ngFor="let item of stateCityList; let i = index">
                  <ng-container *ngIf="i > 0">
                    <option *ngIf="item.admin !== '' && item.admin !== stateCityList[i-1].admin">
                      {{ item.admin.toUpperCase() }}</option>
                  </ng-container>
                </ng-container>
              </select>
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">City</label>
              <select class="form-control" name="editUserCompanyCity" [(ngModel)]="editCompanyModal.city">
                <ng-container *ngFor="let item of stateCityList">
                  <option *ngIf="item.admin.toUpperCase() === upperCheck(editCompanyModal)">{{ item.city.toUpperCase() }}</option>
                </ng-container>
              </select>
            </div>

            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Company Size</label>
              <select class="form-control" name="editUserCompanySize" [(ngModel)]="editCompanyModal.comp_size">
                <option *ngFor="let item of compSizeList" value="{{ item.value }}">{{ item.display }}</option>
              </select>
            </div>
  
            <div class="form-group mt-4">
              <label for="" class="font-weight-bold">Company Overview</label>
              <ckeditor name="editUserCompanyOverview" [editor]="Editor" [(ngModel)]="editCompanyModal.comp_overview "></ckeditor>
            </div>
          </ng-container>        
        </div>
        <div class="modal-footer border-0">
          <button class="btn custom-btn px-3" type="submit">
            Submit<i class="fas fa-save pl-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- !Edit Company Details Model -->
