/* Top Navbar */
.top-navbar {
    height: 70px;
    background: var(--primaryColor);
}

.top-navbar .navbar-brand {
    color: black;
}

.top-navbar .top-navbar-right {
    margin-left: auto;
}

.top-navbar .dropdown-menu-right {
    position: absolute;
    right: 15px;
    left: auto;
    top: 61px;
}

.top-navbar .profile-image {
    width: 37px;
}

.top-navbar-hide {
    display: none;
}

@media(max-width: 992px) {
    .navbar-brand {
        display: none;
    }
}

.sign-out {
    font-size: 18pt;
    color: black;
}

.sign-out:hover {
    color: var(--secondaryColor);
}

.navbar-toggler {
    border-color: var(--primaryColor);
    background-color: var(--secondaryColor);
}
/* !Top Navbar */


/* Side Navbar */
.sidebar {
    position: fixed;
    width: 230px;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--secondaryColor);
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar .nav {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    list-style: none;
}

.sidebar .nav .nav-item {
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
    padding-left: 18px;
    padding-right: 18px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.sidebar .nav .nav-item .nav-link .menu-icon {
    margin-right: 1.25rem;
    width: 16px;
    line-height: 1;
    font-size: 16px;
}

.sidebar .nav .nav-item.active > .nav-link > .menu-icon,
.sidebar .nav .nav-item.active > .nav-link > .menu-title {
    color: var(--secondaryColor);
}

.sidebar .nav .nav-item.active {
    border-radius: 30px;
    background-color: white;
}

.sidebar .nav .nav-item.nav-profile .nav-link {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    height: auto;
}

.sidebar .nav .nav-item.nav-profile .nav-link .profile-wrapper {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.sidebar .nav .nav-item.nav-profile .nav-link .profile-wrapper .profile-image {
    margin: auto;
    width: 72px;
    margin-top: 10px;
}

.sidebar .nav .nav-item.nav-profile .nav-link .profile-wrapper .profile-name {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14pt;
}

.develop-by-footer {
    bottom: 0px; 
    color: rgb(247, 247, 247); 
    position: absolute; 
    left: 40%; 
    font-size: 9.5pt;
}

.content {
    position: absolute;
    width: calc(100% - 280px);
    height: auto;
    min-height: calc(100% - 70px);
    top: 70px;
    right: 0;
    background: var(--primaryColor);
    padding: 25px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

@media(max-width: 992px) {
    .content {
        margin: auto;
        border-radius: 0px;
    }

    .sidebar {
        margin-left: auto;
        border-radius: 0px;
    }
}

.content2 {
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    padding: 0 !important;
    background: var(--primaryColor); 
}

.content3 {
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    padding-top: 100px !important;
}

@media (max-width: 992px) {
    .sidebar {
        left: -250px;
        z-index: 9999;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
    }

    .sidebar.active {
        left: 0 !important;
    }

    .content {
        width: 100%;
    }
}
/* !Side Navbar */
